body {
    background-color: rgba(235, 42, 132, 0.959);
    margin 0;
}    
#home{
    background-color: #f7f7f7;
    margin-top: 20;
}
h1{
    color: fuchsia;
    text-align:center;
    font-size: 25px;
    font-style: normal ;
}
h2{
    text-align:center; 
    font-size: 20px;
    font-style: normal ;
   
}
.Image img{
	height: 450px;
    width: 450px;
    display: block;
    border: 10px solid rgba(14, 1, 14, 0.918);
    border-radius: 5px;
    margin-top: 10;
    margin-left: 400;
    margin-right: 10;
    margin-bottom: 10;
}
our.content{
    border-style:outset;
    top:750px;
    left:300px;
    position:absolute;
    background-color:bisque;
    font-size: 30px;
    text-align: center;
    font-style: italic;
    height:280px;
    width:750px;
    overflow-y:auto;
    }
    .port:hover{
        color: rgb(157, 135, 235);
    
}
.button{
    padding: 20px;
    margin-left: 550px;
    background-color: rgb(20, 1, 1);
    color:rgb(252, 246, 246);
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;

}
.button:hover{
    background-color: black;
    color: pink;
    font-style: italic;

}
div10.pic{
    border-style:outset;
    top:30px;
    left:30px;
    position:absolute;
    background-color:#ffffff;
    height:20px;
    width:20px;
    overflow-y:30;
    
}
}  

    

 

